@font-face{
  font-family: 'SolanoGothicMVBStdBd';
  src: url('../../../assets/fonts/SolanoGothicMVBStdBd.otf');
}
*{

  outline: none;
  font-family: SolanoGothicMVBStdBd;
}
.wrap-login100 {
  width: 1200px;
  border-radius: 10px;
  overflow: hidden;
  //padding: 35px 110px 33px 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
 
}
.item-logo{
  margin-top: 10%;
}
.logo-pic {
  position: absolute;
  top: 70px;
  width: 70%;
}
.logo-title{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.title{
  text-align: center;
  font-size: 24px;
}

@media (max-width: 750px) {
  .logo-pic {
    top: 100px;
    width: 80%;
  }
}
@media (max-width: 750px) and (orientation:landscape) {
  .item-logo{
    margin-top: 60%;
  }
}

.fullheight {
    height: 100%;
    background-image: url("../../../assets/cards/background/background_01_im.svg");
  }
  ion-item{
    --background: transparent;
    --border-style: transparent;
  }
  ion-button{
    --background: #ff0000;
  }
  .menu-button{
    font-size: 16px;
    width: 90px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-header{
    position: absolute;
    left: 20px;
    top:30px;
}

.padding-bottom-row{
    padding-bottom: 50px;
}

.icon-right {
  position: absolute;
  right: 20px;
  top:30px;
  width: 20px;
  height: 20px;
}

.my-custom-class .popover-content {
  background: #222;
}

@media (min-width: 750px) {

    .padding-header{
      position: absolute;
      left: 20px;
      top:30px;
      font-size: 30px;
    }

    .icon-right {
      position: absolute;
      right: 20px;
      top:30px;
      width: 40px;
      height: 40px;
    }

    .title{
      font-size: 35px;
    }
    
    .menu-button{
      font-size: 25px;
      height: 40px;
      width: 200px;

    }
}
.buttons{
  padding: 5px;
  align-items: center;
}