<ion-content>
  <div  class="fullheight xc">
    <ion-label class="padding-header">Bienvenido(a), {{fullName}}</ion-label>
    <ion-icon class="icon-right cursor-pointer" name="power" (click)="presentPopover($event)"></ion-icon>

    <div class="logo-pic" >
      <img src="../../assets/icon/logo.png" class="logo-title" alt="IMG">
    </div>
    
    <ion-item class="item-logo">
      <ion-grid class="wrap-login100">
        <ion-row class="padding-bottom-row">
          <ion-col size="12" >
            <ion-label class="title">Story cards</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="buttons">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="menu-button" expand="block" fill="solid"  (click)="goToFreeModePage()">Libre</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="buttons">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="menu-button" expand="block" fill="solid" (click)="goToCanvasModePage()">Canvas</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="role == 1" class="buttons">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="menu-button" expand="block" fill="solid" (click)="goToRoomModePage()">Mis salas</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="role == 2" class="buttons">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="menu-button" expand="block" fill="solid" (click)="goToRolePlayModePage()">Role-play game</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
    </ion-item>
  </div>
</ion-content>
