.wrap-login100 {
  width: 1200px;
  background: #fff;
  background-image: url("../../../assets/cards/background/background_01_im.svg");
  border-radius: 10px;
  overflow: hidden;
  display: block;
  padding: 35px 130px 33px 35%;
}

.logo-pic {
  position: absolute;
  left: 33%;
  top: 100px;
  width: 33%;
}

@media (max-width: 750px) {
  .logo-pic {
    left: 25%;
    top: 100px;
    width: 50%;
  }
}

.fullheight {
    height: 100%;
  }
  
.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-header{
    position: absolute;
    left: 20px;
    top:30px;
}

.padding-bottom-row{
    padding-bottom: 50px;
}

.icon-right {
  position: absolute;
  right: 20px;
  top:30px;
  width: 20px;
  height: 20px;
}

.my-custom-class .popover-content {
  background: #222;
}

@media (min-width: 750px) {

    .padding-header{
      position: absolute;
      left: 20px;
      top:30px;
      font-size: 30px;
    }

    .icon-right {
      position: absolute;
      right: 20px;
      top:30px;
      width: 40px;
      height: 40px;
    }

    .title{
      font-size: 35px;
    }
    
    .menu-button{
      font-size: 25px;
      width: 300px;

    }
}