<ion-content>
  <div  class="fullheight xc">
    <ion-label class="padding-header">Bienvenido, {{fullName}}</ion-label>
    <ion-icon class="icon-right" name="power" (click)="presentPopover($event)"></ion-icon>

    <ion-item >
      <ion-grid>
        <ion-row class="padding-bottom-row">
          <ion-col size="12" class="ion-text-center">
            <ion-label class="title">Story Cards</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="menu-button" expand="block" fill="solid" (click)="goToFreeModePage()">Libre</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="menu-button" expand="block" fill="solid" (click)="goToCanvasModePage()">Canvas</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="menu-button" expand="block" fill="solid" (click)="goToRolePlayModePage()">Role-play</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
    </ion-item>
  </div>
</ion-content>
