
.fullheight {
    height: 100%;
  }
  
  .xc {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .padding-header{
      position: absolute;
      left: 20px;
      top:30px;
  }

  .padding-bottom-row{
      padding-bottom: 50px;
  }
