<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center class="principal-title">Retos de los participantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label *ngIf="_challengesServices.challengesList.length == 0">
    Los participantes se encuentran enviando sus propuestas de retos ...
  </ion-label>
  <ion-card *ngFor="let challenge of _challengesServices.challengesList" class="center-card">
    <ion-card-header>
      <ion-card-title class="center-text">{{challenge.challengeBody}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="notify center-text">{{challenge.fullName}}</ion-label>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col class="centered-col">
            <ion-button class="white-color" (click)="rejectChallenge(challenge)">Rechazar</ion-button>
          </ion-col>
          <ion-col class="centered-col">
            <ion-button class="white-color" (click)="showAlertAcceptChallenge(challenge)">Aceptar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <p class="approved-number">
    Retos aprobados: {{numApprovedChallenges}} / {{numParticipants}}
  </p>
</ion-content>
