<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/">  
      </ion-back-button>
    </ion-buttons>
    <ion-title class="principal-title">Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullheight">
    <div *ngIf="description">
      <ion-img class="imgSize" name="information" (click)="showInfo()" src="/assets/detail/information.png"></ion-img>
    </div>
    <div *ngIf="!rotate" class="thecard" name="flip">
      <div class="front">
        <ion-img class="ion-imgSize" src="{{this.card}}"></ion-img>
      </div>
      <div class="back">
        <ion-img class="ion-imgSize" src="{{this.description}}"></ion-img>
      </div>
    </div>
    <div *ngIf="process == 1 && showRight" class="imgSizeRight">
      <ion-img name="right" (click)="showCardRight()" src="/assets/detail/arrow_right.png"></ion-img>
    </div>
    <div *ngIf="process == 1 && showLeft" class="imgSizeLeft">
      <ion-img name="left" (click)="showCardLeft()" src="/assets/detail/arrow_left.png"></ion-img>
    </div>
    <div *ngIf="rotate">
      <ion-img class="imgSize" name="rotate" (click)="showRotate()" src="/assets/rotate/rotate.png"></ion-img>
    </div>
    <div *ngIf="rotate" class="thecard" name="rotat">
      <div class="unrotated">
        <ion-img class="ion-imgSize" src="{{this.card}}"></ion-img>
      </div>
    </div>
  </div>
</ion-content>
