.fullheight {
    position:relative;
    height: 100%;
    background: #fafafa;
    //align-items: center;
    //justify-content: center;
  }
  
  .principal-tittle{
    margin-left: 23%;
  }

  .thecard {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }

  .thecard.flipped{
    transform: rotateY(180deg);
  }

  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fafafa;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
  }

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fafafa;
    backface-visibility: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    transform: rotateY(180deg)
  }

.imgSize{
    padding-top: 5px;
    margin-left: 90%;
    padding-right: 10px;
    width: 40px;
    height: 40px;
}

.ion-imgSize{
  width: 100%;
  height: 100%;
}


@media (min-width: 512px) {
  .principal-tittle{
    margin-left: 30%;
    font-size: 25px;
  }

  .img-arq {
    width: 80%;
    height: 80%;
    padding: 0px;
    margin: auto;
    padding: 3%;
  }
  .ion-imgSize{
    width: 80%;
    height: 80%;
    margin: auto;
  }

}

@media (min-width: 750px) {
  .principal-tittle{
    margin-left: 38%;
    font-size: 25px;
  }

  .imgSize{
    margin-left: 80%;

  }
}

@media (min-width: 1000px) {
  .principal-tittle{
    margin-left: 40%;
    font-size: 28px;
  }

  .imgSize{
    margin-left: 75%; 
  }
}

@media (min-width: 1260px) {
  .principal-tittle{
    margin-left: 42%;
    font-size: 28px;
  }

  .imgSize{
    margin-left: 70%; 
  }
}

@media (min-width: 1400px) {
  .principal-tittle{
    margin-left: 43%;
    font-size: 30px;
  }
  .imgSize{
    margin-left: 65%; 
  }
}

@media (min-width: 1640px) {
  .principal-tittle{
    margin-left: 45%;
    font-size: 30px;
  }
  .imgSize{
    margin-left: 65%; 
  }
}