.fullheight {
    position:relative;
    height: 100%;
//background: #fafafa;
  }
  
  .principal-title{
    margin-left: 23%;
  }
  .principal-title.ios{
    margin-left: 0%;
  }
  .thecard {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }

  .thecard.flipped{
    transform: rotateY(180deg);
  }

  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    //background: #fafafa;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
  }

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
   // background: #fafafa;
    backface-visibility: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    transform: rotateY(180deg)
  }

.imgSize{
    padding-top: 5px;
    margin-left: 90%;
    padding-right: 10px;
    width: 38px;
    height: 38px;
}

.ion-imgSize{
  width: 100%;
  height: 100%;
}
@media (min-width: 400px){
  .principal-title{
    margin-left: 28%;
    font-size: 21px;
  }
  .ion-imgSize{
    width: 80%;
    height: 80%;
    margin: auto;
  }
}

@media (min-width: 600px){
  .principal-title{
    margin-left: 33%;
    font-size: 23;
  }
  .ion-imgSize{
    width: 80%;
    height: 80%;
    margin: auto;
  }
}

@media (min-width: 750px) {

  .fullheight{

    margin: auto;
    height: 480px;
    width: 300px;
  }
  .principal-title{
    margin-left: 38%;
    font-size: 25px;
  }

  .img-arq {
    width: 80%;
    height: 80%;
    padding: 0px;
    margin: auto;
    padding: 3%;
  }
  .imgSize{
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 78%; 
  }

  .ion-imgSize{
    width: 250px;
    height: 400px;
    margin:auto;
    z-index: 1;
  }
  .thecard {
    position: absolute;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  
}

@media (min-width: 750px) {

  .fullheight{

    margin: auto;
    height: 480px;
    width: 300px;
  }
    
  .principal-title{
    margin-left: 38%;
    font-size: 25px;
  }

  .imgSize{
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 78%; 
  }

  .ion-imgSize{
    width: 250px;
    height: 400px;
    margin:auto;
    z-index: 1;
  }
  .thecard {
    position: absolute;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  
}

@media (min-width: 1000px) {

  .fullheight{
    margin: auto;
    height: 480px;
    width: 300px;
  }
  .principal-title{
    margin-left: 40%;
    font-size: 28px;
  }

  .imgSize{
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 78%; 
  }

  .ion-imgSize{
    width: 250px;
    height: 400px;
    margin:auto;
    z-index: 1;
  }


  .thecard {
    position: absolute;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  
}

@media (min-width: 1260px) {
  .principal-title{
    margin-left: 42%;
    font-size: 28px;
  }
}

@media (min-width: 1400px) {
  .principal-title{
    margin-left: 43%;
    font-size: 30px;
  }
}

@media (min-width: 1640px) {
  .principal-title{
    margin-left: 45%;
    font-size: 30px;
  }
}