
@font-face{
  font-family: 'SolanoGothicMVBStdBd';
  src: url('../../../../assets/fonts/SolanoGothicMVBStdBd.otf');
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: SolanoGothicMVBStdBd;
}
.principal-title{
    margin-left: 33%;
 }
 .principal-title.ios{
    margin-left: 0%;
}
ion-img {
  cursor: pointer;
}
ion-img:hover {
  cursor: pointer;
}
ion-item {
    margin-right: 15px;
  }

.img-arq {
    padding: 2px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
  }

.img-arq:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

ion-col {
    overflow: hidden;
    margin-left: 7px;
    margin-right: 7px;
    
 }
@media (min-width: 400px) {
  .principal-title{
    margin-left: 35%;
    font-size: 23px;
  }
} 


 @media (min-width: 600px) {
  .principal-title{
    margin-left: 38%;
    font-size: 24px;
  }
} 


 @media (min-width: 750px) {
  .principal-title{
    margin-left: 41%;
    font-size: 25px;
  }
  .secondary-title{
    font-size: 20px;
  }

  ion-item {
    margin-right: 10%;
    margin-left: 10%;;
  } 
  ion-row{
    margin-left: 1%;
    margin-right: 1%;
  }
  ion-col {
    overflow: hidden;
    margin-left: 47px;
    margin-right: 47px;
    height: 80%;
  }

 .img-arq {
    width: 80%;
    height: 80%;
    padding: 0px;
    margin: auto;
    padding: 3%;
 }
}



@media (min-width: 1000px) {
  .principal-title{
    margin-left: 42%;
    font-size: 28px;
  }
  ion-row{
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1260px) {
  .principal-title{
    margin-left: 44%;
    font-size: 28px;
  }
  ion-row{
    margin-left: 12%;
    margin-right: 12%;
  }
}

@media (min-width: 1400px) {
  .principal-title{
    margin-left: 44%;
    font-size: 30px;
  }
  ion-row{
    margin-left: 13%;
    margin-right: 13%;
  }
}

@media (min-width: 1640px) {
  .principal-title{
    margin-left: 45%;
    font-size: 30px;
  }
  ion-row{
    margin-left: 15%;
    margin-right: 15%;
  }
}