<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/">  
      </ion-back-button>
    </ion-buttons>
    <ion-title class="principal-tittle">Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item>
   <ion-label class="secondary-tittle" >Escoge una categoría:</ion-label>
 </ion-item>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group1.id, this.group1.cardImgArray, this.group1.title)" src="{{this.group1.imgLocation}}"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group2.id, this.group2.cardImgArray, this.group2.title)" src="{{this.group2.imgLocation}}"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group3.id, this.group3.cardImgArray, this.group3.title)" src="{{this.group3.imgLocation}}"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group4.id, this.group4.cardImgArray, this.group4.title)" src="{{this.group4.imgLocation}}"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group5.id, this.group5.cardImgArray, this.group5.title)" src="{{this.group5.imgLocation}}"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group6.id, this.group6.cardImgArray, this.group6.title)" src="{{this.group6.imgLocation}}"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group7.id, this.group7.cardImgArray, this.group7.title)" src="{{this.group7.imgLocation}}"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group8.id, this.group8.cardImgArray, this.group8.title)" src="{{this.group8.imgLocation}}"></ion-img>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
