<ion-header>

</ion-header>

<ion-content>
 
  <div class="container">
      <div class="progress-bar-custom">
        <div class="step">
          
            <div class="bullet" [ngClass]="{'step-colored': step == 1}" (click)="!showWaitingForChallengeApprovalView ? step == 2 ? step = 1: null : null;">
              <span></span>
            </div>
            <div class="check fas fa-check">
            </div>
            <p>Arquetipos</p>
        </div>
        <div class="step">
          
          <div class="bullet" [ngClass]="{'step-colored': step == 2}" (click)="!showWaitingForChallengeApprovalView ? step == 3 ? step = 2 : null : null;" (click)="!showWaitingForChallengeApprovalView ? character!=-1 ? step =2 : null : null;">
            <span></span>
          </div>
          <div class="check fas fa-check">
          </div>
          <p>Competencias</p>
        </div>
        <div class="step">
          
          <div class="bullet" [ngClass]="{'step-colored': step == 3}" (click)="pointsAvailable == 0 ? step = 3 : null" >
            <span></span>
          </div>
          <div class="check fas fa-check">
          </div>
          <p>Problema</p>
        </div>
        
      </div>
        
  </div>


 <div *ngIf="step==1">
  <ion-item>
    <ion-label class="ion-text-center">Arquetipos</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col [ngClass]="{'character-selected': character == 1}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_02_im.svg" (click)="character = 1; setAbility(character);"></ion-img>
      </ion-col>
      <ion-col [ngClass]="{'character-selected': character == 2}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_04_im.svg" (click)="character = 2; setAbility(character);"></ion-img>
      </ion-col>
      <ion-col [ngClass]="{'character-selected': character == 3}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_06_im.svg" (click)="character = 3; setAbility(character);"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [ngClass]="{'character-selected': character == 4}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_08_im.svg" (click)="character = 4; setAbility(character);"></ion-img>
      </ion-col>
      <ion-col [ngClass]="{'character-selected': character == 5}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_10_im.svg" (click)="character = 5; setAbility(character);"></ion-img>
      </ion-col>
      <ion-col [ngClass]="{'character-selected': character == 6}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_12_im.svg" (click)="character = 6; setAbility(character);"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [ngClass]="{'character-selected': character == 7}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_14_im.svg" (click)="character = 7; setAbility(character);"></ion-img>
      </ion-col>
      <ion-col [ngClass]="{'character-selected': character == 8}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_16_im.svg" (click)="character = 8; setAbility(character);"></ion-img>
      </ion-col>
      <ion-col [ngClass]="{'character-selected': character == 9}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_18_im.svg" (click)="character = 9; setAbility(character);"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [ngClass]="{'character-selected': character == 10}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_20_im.svg" (click)="character = 10; setAbility(character);"></ion-img>
      </ion-col>
      <ion-col [ngClass]="{'character-selected': character == 11}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_22_im.svg" (click)="character = 11; setAbility(character);"></ion-img>
      </ion-col>
      <ion-col [ngClass]="{'character-selected': character == 12}">
        <span class="first-border"></span>
        <span class="second-border"></span>
        <span class="third-border"></span>
        <span class="fourth-border"></span>
        <ion-img class="img-arq" src="/assets/cards/archetypes/arquetipos_24_im.svg" (click)="character = 12; setAbility(character);"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="character != -1" (click)="addStep()" class="next-button" >Siguiente</ion-button>
 </div>
 <div *ngIf="step==2 && character != -1">
  <div>
    <ion-item class="abilities-statistics">
      <ion-label class="ion-text-right">Puntos por asignar: {{this.pointsAvailable}} <br> 
        Habilidades escogidas: {{this.abilitiesChosen}}/7</ion-label>
    </ion-item>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="fullSizeCard">
          <ion-card-header>
            <div class="ability">
              {{this.firstAbility}}
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="points-ability">
              Puntos asignados: {{this.firstAbilityPoints}}
            </div>
          </ion-card-content>

          <ion-row class="icon-row">
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeLeft">
                <ion-icon name="remove-circle-outline" class="icon-minus" (click)="updatePoints(1, 'minus')"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeRight">
                <ion-icon name="add-circle-outline" class="icon-plus" (click)="updatePoints(1, 'plus')"></ion-icon>
              </button> 
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="fullSizeCard">
          <ion-card-header>
            <div class="ability">
              {{this.secondAbility}}
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="points-ability">
              Puntos asignados: {{this.secondAbilityPoints}}
            </div>
          </ion-card-content>

          <ion-row class="icon-row">
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeLeft">
                <ion-icon name="remove-circle-outline" class="icon-minus" (click)="updatePoints(2, 'minus')"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeRight">
                <ion-icon name="add-circle-outline" class="icon-plus" (click)="updatePoints(2, 'plus')"></ion-icon>
              </button> 
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="fullSizeCard">
          <ion-card-header>
            <div class="ability">
              {{this.thirdAbility}}
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="points-ability">
              Puntos asignados: {{this.thirdAbilityPoints}}
            </div>
          </ion-card-content>

          <ion-row class="icon-row">
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeLeft">
                <ion-icon name="remove-circle-outline" class="icon-minus" (click)="updatePoints(3, 'minus')"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeRight">
                <ion-icon name="add-circle-outline" class="icon-plus" (click)="updatePoints(3, 'plus')"></ion-icon>
              </button> 
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="fullSizeCard" *ngIf="fourthReady">
          <ion-card-header>
            <div class="ability">
              {{this.fourthAbility}}
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="points-ability">
              Puntos asignados: {{this.fourthAbilityPoints}}
            </div>
          </ion-card-content>

          <ion-row class="icon-row">
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeLeft">
                <ion-icon name="remove-circle-outline" class="icon-minus" (click)="updatePoints(4, 'minus')"></ion-icon>
              </button>
            </ion-col >
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeRight">
                <ion-icon name="add-circle-outline" class="icon-plus" (click)="updatePoints(4, 'plus')"></ion-icon>
              </button> 
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card class="fullSizeCard" *ngIf="isNext == 4">
          <ion-img class="add-competency" src="/assets/util/add_competency.png" (click)="showAlert(4)"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="fullSizeCard" *ngIf="fifthReady">
          <ion-card-header>
            <div class="ability">
              {{this.fifthAbility}}
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="points-ability">
              Puntos asignados: {{this.fifthAbilityPoints}}
            </div>
          </ion-card-content>

          <ion-row class="icon-row">
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeLeft">
                <ion-icon name="remove-circle-outline" class="icon-minus" (click)="updatePoints(5, 'minus')"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeRight">
                <ion-icon name="add-circle-outline" class="icon-plus" (click)="updatePoints(5, 'plus')"></ion-icon>
              </button> 
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card class="fullSizeCard" *ngIf="isNext == 5">
          <ion-img class="add-competency" src="/assets/util/add_competency.png" (click)="showAlert(5)"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="fullSizeCard" *ngIf="sixthReady">
          <ion-card-header>
            <div class="ability">
              {{this.sixthAbility}}
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="points-ability">
              Puntos asignados: {{this.sixthAbilityPoints}}
            </div>
          </ion-card-content>

          <ion-row class="icon-row">
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeLeft">
                <ion-icon name="remove-circle-outline" class="icon-minus" (click)="updatePoints(6, 'minus')"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeRight">
                <ion-icon name="add-circle-outline" class="icon-plus" (click)="updatePoints(6, 'plus')"></ion-icon>
              </button> 
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card class="fullSizeCard" *ngIf="isNext == 6">
          <ion-img class="add-competency" src="/assets/util/add_competency.png" (click)="showAlert(6)"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="fullSizeCard" *ngIf="seventhReady">
          <ion-card-header>
            <div class="ability">
              {{this.seventhAbility}}
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="points-ability">
              Puntos asignados: {{this.seventhAbilityPoints}}
            </div>
          </ion-card-content>

          <ion-row class="icon-row">
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeLeft">
                <ion-icon name="remove-circle-outline" class="icon-minus" (click)="updatePoints(7, 'minus')"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="icon-col">
              <button ion-button class="buttonSizeRight">
                <ion-icon name="add-circle-outline" class="icon-plus" (click)="updatePoints(7, 'plus')"></ion-icon>
              </button> 
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card class="fullSizeCard" *ngIf="isNext == 7">
          <ion-img class="add-competency" src="/assets/util/add_competency.png" (click)="showAlert(7)"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="validatePoints()" (click)="addStep()" class="next-button">Siguiente</ion-button>
 </div>
 <div *ngIf="step==3 && !showWaitingForChallengeApprovalView">
  <div class="challenge-header">
    <div class="ion-text-center">    
       Crea un reto
    </div>
  </div>
  <ion-item class="challenge-item">
    <ion-textarea maxlength="{{this.maximumCharactersAllowed}}" (ionChange)="writeChallenge($event)" placeholder="Escribe tu reto ..."></ion-textarea>
  </ion-item>
  <ion-label class="count-letters">{{this.challengeCharacters}} / {{this.maximumCharactersAllowed}}</ion-label>
  <ion-button *ngIf="validateChallenge()" class="next-button" (click)="sendChallenge()">Enviar Reto</ion-button>
 </div>
 <div *ngIf="showWaitingForChallengeApprovalView" class="fullheight">
  <ion-card class="center-card">
    <ion-card-header>
      <ion-card-title class="center-text">Esperando respuesta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label class="notify center-text">El facilitador de la dinámica se encuentra revisando su reto ... Por favor, espere sus indicaciones.</ion-label>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-spinner class="spinner-waiting center-text" color="primary"></ion-spinner>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
