  *{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Cambriab;
  }
ion-col {
  overflow: hidden;
  margin-left: 47px;
  margin-right: 47px;
  // width: 60%;
  height: 80%;
  padding: 1%;
}
  .cards-info {
    padding-top: 15px;
  }
  .principal-title{
      text-align: center;
   }
   .principal-title.ios{
      text-align: center;
  }
  .icon-header {
    width: 15px;
    height: 15px;
    padding: 4px;
    cursor: pointer;
}
.card-alert {
    width: 300px;
    height: 500px;
}
.back-button {
  float: left;
  margin-left: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 35px;
  width: 110px;
  color: white;
}
.item {
    //padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
*{
margin: 0;
padding: 0;
outline: none;
font-family: SolanoGothicMVBStdBd;
}

.item-header {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 15px;
    align-items: left;
}
.next-button {
    float: right;
    margin-right: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 35px;
    width: 110px;
    color: white;
}
.not-selected {
  opacity: 0.6;
}

  ion-img {
    cursor: pointer;
  }
  ion-img:hover {
    cursor: pointer;
  }
  ion-item {
      margin-right: 15px;
    }
  
  .img-arq {
      padding: 2px;
      border-radius: 6px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease;
    }
  
  .img-arq:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }

  .img-card {
    padding: 2px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
  }

.img-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
  
  ion-col {
      overflow: hidden;
      margin-left: 7px;
      margin-right: 7px;
      
   }
  @media (min-width: 400px) {
    .principal-title{
      font-size: 23px;
      text-align: center;
    }
    .icon-header {
      width: 24px;
      height: 17px;
      padding: 6px;
  }
  } 
  
  
   @media (min-width: 600px) {
    .principal-title{
      font-size: 24px;
      text-align: center;
    }
    .icon-header {
      width: 26px;
      height: 19px;
      padding: 8px;
  }
  } 
  
  
   @media (min-width: 750px) {
    .principal-title{
      font-size: 25px;
      text-align: center;
    }
    .secondary-title{
      font-size: 20px;
      text-align: center;
    }

    .icon-header {
      width: 30px;
      height: 23px;
      padding: 9px;
    }

    .back-button {
      float: left;
      margin-left: 20%;
      margin-top: 5%;
      font-size: 20px;
      height: 55px;
      width: 150px;
    }

    .count-letters {
        margin-left: 12%;
        margin-top: 5px;
        font-size: 21px;
        padding-bottom: 40px;
    }

    .next-button {
        float: right;
        margin-right: 20%;
        margin-top: 5%;
        font-size: 20px;
        height: 55px;
        width: 160px;
    }
  
    ion-item {
      margin-right: 10%;
      margin-left: 10%;;
    } 
    ion-row{
      margin-left: 1%;
      margin-right: 1%;
    }
    ion-col {
      overflow: hidden;
      margin-left: 47px;
      margin-right: 47px;
      height: 80%;
    }
  
   .img-arq {
      width: 80%;
      height: 80%;
      padding: 0px;
      margin: auto;
      padding: 3%;
   }
    .ion-text-left {
        font-size: 25px;
    }  
    .item-item {
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .item-header {
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
    } 
  }
  
  
  
  @media (min-width: 1000px) {
    .principal-title{
      font-size: 28px;
      text-align: center;
    }
    ion-row{
      margin-left: 10%;
      margin-right: 10%;
    }
    .icon-header {
      width: 31px;
      height: 24px;
      padding: 8px;
  }
  }
  
  @media (min-width: 1260px) {
    .principal-title{
      font-size: 28px;
      text-align: center;
    }
    ion-row{
      margin-left: 12%;
      margin-right: 12%;
    }
    .icon-header {
      width: 31px;
      height: 24px;
      padding: 8px;
  }
  }
  
  @media (min-width: 1400px) {
    .principal-title{
      font-size: 30px;
      text-align: center;
    }
    ion-row{
      margin-left: 13%;
      margin-right: 13%;
    }
    .icon-header {
      width: 32px;
      height: 25px;
      padding: 8px;
  }
  }
  
  @media (min-width: 1640px) {
    .principal-title{
      font-size: 30px;
      text-align: center;
    }
    ion-row{
      margin-left: 15%;
      margin-right: 15%;
    }
    .icon-header {
      width: 33px;
      height: 26px;
      padding: 8px;
  }
    .img-arq {
        width: 50%;
        height: 50%;
        padding: 0px;
        margin: auto;
        padding: 3%;
     }

     .img-card {
        width: 80%;
        height: 80%;
        padding: 0px;
        margin: auto;
        padding: 3%;
     }
  }

  .card-selected {

    .first-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: linear-gradient(to right,#FF0000,#FFFFFF);
      animation: animate1 2s linear infinite;
    }
    
    .second-border {
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 100%;
      background: linear-gradient(to bottom,#FF0000,#FFFFFF);
      animation: animate2 2s linear infinite;
      animation-delay: 1s;
    }
    
    .third-border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: linear-gradient(to left,#FF0000,#FFFFFF);
      animation: animate3 2s linear infinite;
    }
    
    .fourth-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background: linear-gradient(to top,#FF0000,#FFFFFF);
      animation: animate4 2s linear infinite;
      animation-delay: 1s;
    }
  }
    
  @keyframes animate1  {
    0%
    {
        transform:translateX(-100%);
    }
    100%
    {
        transform:translateX(100%);
    }
  }
    
  @keyframes animate2 {
    0%
    {
        transform:translateY(-100%);
    }
    100%
    {
        transform:translateY(100%);
    }
  }
    
  @keyframes animate3 {
    0%
    {
        transform:translateX(100%);
    }
    100%
    {
        transform:translateX(-100%); 
    }
  }
    
  @keyframes animate4 {
    0%
    {
        transform:translateY(100%);
    }
    100%
    {
        transform:translateY(-100%);
    }
  }