<ion-header *ngIf="showGroupCards">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">  
      </ion-back-button>
    </ion-buttons>
    <ion-title class="principal-title">Formato de  Personajes</ion-title>
    <ion-icon slot="end" class="icon-header" name="save-outline"></ion-icon>
    <ion-icon slot="end" class="icon-header" (click)="downloadCanvas()" name="download-outline"></ion-icon>
    <ion-icon slot="end" class="icon-header" *ngIf="platform.is('desktop')" (click)="printCanvas()" name="print-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showGroupCards">
 <ion-item>
   <ion-label class="secondary-title" >Personajes principales</ion-label>
 </ion-item>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group1.id, this.group1.cardImgArray, this.group1.title)" src="{{this.group1.imgLocation}}"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="img-arq" (click)="showCards(this.group2.id, this.group2.cardImgArray, this.group2.title)" src="{{this.group2.imgLocation}}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label class="secondary-title" >Personajes secundarios</ion-label>
  </ion-item>
   <ion-grid>
     <ion-row >
       <ion-col>
         <ion-img class="img-arq" (click)="showCards(this.group3.id, this.group3.cardImgArray, this.group3.title)" src="{{this.group3.imgLocation}}"></ion-img>
       </ion-col>
       <ion-col>
         <ion-img class="img-arq" (click)="showCards(this.group4.id, this.group4.cardImgArray, this.group4.title)" src="{{this.group4.imgLocation}}"></ion-img>
       </ion-col>
     </ion-row>
   </ion-grid>
</ion-content>

<ion-header *ngIf="showDivCards">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="backGroup()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="principal-title">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showDivCards">
  <ion-item>
    <ion-label class="secondary-title">Escoge un arquetipo</ion-label>
  </ion-item>

  <ion-grid *ngIf="showDivCards">
    <ion-row *ngFor="let indexRow of rows">
      <ion-col [ngClass]="{'card-selected': cardSelected == (indexRow)*3 + (indexColumn)}" *ngFor="let indexColumn of columns">
        <div *ngIf="(this.cards[(indexRow)*3 + (indexColumn)])">
          <span class="first-border"></span>
          <span class="second-border"></span>
          <span class="third-border"></span>
          <span class="fourth-border"></span>
          <ion-img class="img-card" (click)="changeCard((indexRow)*3 + (indexColumn))" src="{{this.cards[(indexRow)*3 + (indexColumn)].imgCard}}"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-header *ngIf="showInfoCards">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backCards()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="principal-title">Formato de personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showInfoCards">
  <div id="infoCard">
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Características
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="characteristics" maxlength="{{this.maximumCharactersAllowed}}" (ionChange)="writeCharacteristics($event)" placeholder="¿Quiénes son?"></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.characteristicsCharacters}} / {{this.maximumCharactersAllowed}}</ion-label>
    </div>
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Motivación
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="motivation" maxlength="{{this.maximumCharactersAllowed}}" (ionChange)="writeMotivation($event)" placeholder="¿Qué hacen aquí? ¿Qué quieren? ¿Qué buscan?"></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.motivationCharacters}} / {{this.maximumCharactersAllowed}}</ion-label>
    </div>
    <ion-button class="next-button" (click)="finish()">Finalizar</ion-button>
  </div>
</ion-content>
