@font-face{
    font-family: 'SolanoGothicMVBStdBd';
    src: url('../../../../../assets/fonts/SolanoGothicMVBStdBd.otf');
  }

  .thecard {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }

.thecard.rotated{
    transform: rotate(180deg);
}

.unrotated {
    
    width: 100%;
    height: 100%;
    //background: #fafafa;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotate(180deg);
}

.imgSize{
    width: 30px;
    height: 30px;
    margin-left: 75%;
}

.rotate {
    transform: rotate(180deg);
}

.center-text {
    text-align: center;
    padding: 10px 0px;
}
.principal-title {
    margin-left: 33%;
    font-size: 18px;
}
.principal-title.ios {
    margin-left: 0%;
}
.icon-header {
    width: 15px;
    height: 15px;
    padding: 4px;
}
.item {
    //padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: SolanoGothicMVBStdBd;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: url("/assets/detail/information.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}
::selection{
    color: #fff;
    background: #d43f8d;
}

.container{
    width: 330px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    margin: auto;
}
.container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 0 0;
}
.container .form-outer{
    width: 100%;
    overflow: hidden;
}
.container .form-outer form{
    display: flex;
    width: 400%;
}
.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}
form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}
form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #d33f8d;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
form .page .field button:hover{
    background: rgb(85, 84, 84);
}
form .page .btns button{
    margin-top: -20px!important;
}
form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next{
    margin-left: 3px;
}
.container .progress-bar{
    display: flex;
    margin: 15px 0 10px 0;
    user-select: none;
}
.container .progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;
}
.container .progress-bar .step p{
    font-weight: 500;
    font-size: 12px;
    color: rgb(85, 84, 84);
    margin-bottom: 8px;
}
.progress-bar .step .bullet{
    height: 30px;
    width: 30px;
    border: 1px solid rgb(85, 84, 84);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;

}
.progress-bar .step .bullet.active{
    border-color: #d43f8d;
    background: #d43f8d;
}
.progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
    display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 13px;
    right: -46px;
    height: 2px;
    width: 44px;
    background: #262626;
}
.progress-bar .step .bullet.active:after{
    background: #ccc6b6;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
100%{
    transform: scaleX(1);
}
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}
.progress-bar .step p.active{
    color: #d43f8d;
    transition: 0.2s linear;
}
.progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar .step .check.active{
    display: block;
    color: #fff;
}
.step-colored {
    background-color: #FF0000;
}

.fullSizeCard{
    width: 90%;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 7px ;
}

.buttonSizeLeft{
    width: 100%;
    height: 100%;
    margin-left: -5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 7px;
    background-color: transparent;
}

.buttonSizeRight{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.img-arq {
    padding: 6px;
}

ion-col {
    overflow: hidden;
    margin-left: 7px;
    margin-right: 7px;

}

ion-item {
    margin-right: 15px;
}
.emotion-selected {

.first-border
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right,#0c002b,#80724B);
    animation: animate1 2s linear infinite;
}

.second-border
{
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom,#0c002b,#80724B);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

.third-border
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to left,#0c002b,#80724B);
    animation: animate3 2s linear infinite;
}

.fourth-border
{
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to top,#0c002b,#80724B);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
}

@keyframes animate1 {
    0%
    {
        transform:translateX(-100%);
    }
    100%
    {
        transform:translateX(100%);
    }
}

@keyframes animate2 {
    0%
    {
        transform:translateY(-100%);
    }
    100%
    {
        transform:translateY(100%);
    }
}

@keyframes animate3 {
    0%
    {
        transform:translateX(100%);
    }
    100%
    {
        transform:translateX(-100%); 
    }
}

@keyframes animate4 {
    0%
    {
        transform:translateY(100%);
    }
    100%
    {
        transform:translateY(-100%);
    }
}

.next-button {
    float: right;
    margin-right: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 35px;
    width: 110px;
    color: white;
}

.back-button {
    float: left;
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 35px;
    width: 110px;
    color: white;
}


.abilities-statistics {
    font-size: 13px;
}

.points-ability {
    font-size: 14px;
    margin-left: 3px;

}

.ability {
    font-size: 16px;
    font-style: bold;
    text-align: center;
}

.icon-minus {
    width: 25px;
    height: 25px;
    color: black;
}

.icon-plus {
    width: 25px;
    height: 25px;
    color: black;
}

.add-competency {
    width: 60px;
    height: 84px;
    margin: auto;
}

.item-header {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 15px;
    align-items: left;
}
.count-letters {
    margin-left: 30px;
    margin-top: 4px;
    padding-bottom: 10px;
}
.progress-bar .step .bullet{
    height: 30px;
    width: 30px;
    border: 2px solid rgb(85, 84, 84);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 10px;
    
}

@media (min-width: 400px){
    .icon-header {
        width: 24px;
        height: 17px;
        padding: 6px;
    }
}
@media (min-width: 600px){

    .principal-title{
        margin-left: 40%;
        font-size: 24px;
    }
    .icon-header {
        width: 26px;
        height: 19px;
        padding: 8px;
    }
    .progress-bar .step .bullet:after{
        position: absolute;
        content: '';
        bottom: 13px;
        right: -46px;
        height: 2px;
        width: 44px;
        background: #262626;
    }
}
@media (min-width: 750px) {

    .principal-title {
        margin-left: 44%;
 
    }
    .icon-header {
        width: 30px;
        height: 23px;
        padding: 9px;
    }    
    .container{
        width: 750px;
        background: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 0px 20px 0px 20px;
        margin: auto;
        //margin-left: 40px;
        //margin-right: 40px;
    }

    .progress-bar .step .bullet{
        height: 30px;
        width: 30px;
        border: 2px solid rgb(85, 84, 84);
        display: inline-block;
        border-radius: 50%;
        position: relative;
        transition: 0.2s;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        
    }

    .container .progress-bar .step p{
        font-weight: 500;
        font-size: 18px;
        color: rgb(85, 84, 84);
        margin-bottom: 8px;
    }

    .progress-bar .step .bullet:before,
    .progress-bar .step .bullet:after{
        position: absolute;
        content: '';
        bottom: 50%;
        left: 100%;
        height: 2px;
        width: 150px;
        background: rgb(85, 84, 84);
    }

    ion-item {
        margin-right: 10%;
        margin-left: 10%;;
    } 
    ion-row{
        margin-left: 1%;
        margin-right: 1%;
    }
    ion-col {
        overflow: hidden;
        margin-left: 47px;
        margin-right: 47px;
        // width: 60%;
        height: 80%;
        padding: 1%;
    }
    .img-arq {
        width: 84%;
        height: 84%;
        padding: 0px;
        margin: auto;
        padding: 4%;
    }
    .emotion-selected {

        .first-border
        {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(to right,#80724B,#FFE596);
        animation: animate1 2s linear infinite;
        }
        
        .second-border
        {
        position: absolute;
        top: 0;
        right: 0;
        width: 6px;
        height: 100%;
        background: linear-gradient(to bottom,#80724B,#FFE596);
        animation: animate2 2s linear infinite;
        animation-delay: 1s;
        }
        
        .third-border
        {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(to left,#80724B,#FFE596);
        animation: animate3 2s linear infinite;
        }
        
        .fourth-border
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100%;
            background: linear-gradient(to top,#80724B,#FFE596);
            animation: animate4 2s linear infinite;
            animation-delay: 1s;
        }
    }

    .ion-text-left {
        font-size: 25px;
    }

    .ion-text-right {
        margin-left: 30px;
        margin-right: 8%;
        margin-top: 5px;
        font-size: 18px;
    }

    .fullSizeCard{
        width: 85%;
        height: 140px;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 7px ;
    }
    .ability {
        font-size: 18px;
        font-style: bold;
        text-align: center;
        margin-top: 2%;
    }

    .points-ability {
        font-size: 14px;
        margin-left: 3%;
        margin-top: 3%;

    }

    .icon-row{
        margin: auto;
    }
    .icon-col{
        margin:auto
    }
    .icon-minus {
        width: 29px;
        height: 29px;
    }

    .icon-plus {
        width: 29px;
        height: 29px;
    }

    .buttonSizeLeft{
        width: 100%;
        height: 100%;
        margin: auto;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 7px;
        background-color: transparent;
        color: white;
    }

    .buttonSizeRight{
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding-left: 5px;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 7px;
        color: white;
    }

    .count-letters {
        margin-left: 12%;
        margin-top: 5px;
        font-size: 21px;
        padding-bottom: 40px;
    }


    .add-competency {
        width: 100%;
        margin-top: 28px ;
        margin-bottom: 28px;
    }

    .next-button {
        float: right;
        margin-right: 20%;
        margin-top: 5%;
        font-size: 20px;
        height: 55px;
        width: 160px;
        color: white;
    }

    .back-button {
        float: left;
        margin-left: 20%;
        margin-top: 5%;
        font-size: 20px;
        height: 55px;
        width: 150px;
        color: white;
    }

    .item-item {
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .item-header {
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


@media (min-width: 1000px){
    .principal-title{
        margin-left: 44%;
        font-size: 28px;
      }
    .icon-header {
        width: 31px;
        height: 24px;
        padding: 8px;
    }  
    ion-row{
        margin-left: 7%;
        margin-right: 7%;
    }
    .container{
        width: 1000px;
        background: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 0px 20px 0px 20px;
        margin: auto;
        //margin-left: 40px;
        //margin-right: 40px;
    }

    .container .progress-bar .step p{
        font-weight: 500;
        font-size: 18px;
        color: rgb(85, 84, 84);
        margin-bottom: 8px;
    }
    .progress-bar .step .bullet:before,
    .progress-bar .step .bullet:after{
        position: absolute;
        content: '';
        bottom: 50%;
        left: 100%;
        height: 2px;
        width: 195px;
        background: rgb(85, 84, 84);
    }

    .progress-bar .step .bullet{
        height: 50px;
        width: 50px;
        border: 3px solid rgb(85, 84, 84);
        display: inline-block;
        border-radius: 50%;
        position: relative;
        transition: 0.2s;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        
    }
}

@media (min-width: 1260px){
    .principal-title{
        margin-left: 44%;
        font-size: 30px;
        }
    .icon-header {
        width: 31px;
        height: 24px;
        padding: 8px;
    }  
    ion-row{
        margin-left: 10%;
        margin-right: 10%;
    }
    .container{
        width: 1200px;
        background: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 0px 20px 0px 20px;
        margin: auto;
        //margin-left: 40px;
        //margin-right: 40px;
    }

    .container .progress-bar .step p{
        font-weight: 500;
        font-size: 18px;
        color: rgb(85, 84, 84);
        margin-bottom: 8px;
    }
    .progress-bar .step .bullet:before,
    .progress-bar .step .bullet:after{
        position: absolute;
        content: '';
        bottom: 50%;
        left: 100%;
        height: 2px;
        width: 246px;
        background: rgb(85, 84, 84);
    }

    .progress-bar .step .bullet{
        height: 50px;
        width: 50px;
        border: 3px solid rgb(85, 84, 84);
        display: inline-block;
        border-radius: 50%;
        position: relative;
        transition: 0.2s;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        
    }
}


@media (min-width: 1400px){
    .icon-header {
        width: 32px;
        height: 25px;
        padding: 8px;
    }
ion-row{
    margin-left: 12%;
    margin-right: 12%;
}
.container{
    width: 1400px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    margin: auto;
    //margin-left: 40px;
    //margin-right: 40px;
}

.container .progress-bar .step p{
    font-weight: 500;
    font-size: 18px;
    color: rgb(85, 84, 84);
    margin-bottom: 8px;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 50%;
    left: 100%;
    height: 2px;
    width: 295px;
    background: rgb(85, 84, 84);
}

.progress-bar .step .bullet{
    height: 50px;
    width: 50px;
    border: 3px solid rgb(85, 84, 84);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    
}
}

@media (min-width: 1640px){
    .icon-header {
        width: 33px;
        height: 26px;
        padding: 8px;
    }
ion-row{
    margin-left: 15%;
    margin-right: 15%;
}
.container{
    width: 1600px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    margin: auto;
    //margin-left: 40px;
    //margin-right: 40px;
}

.container .progress-bar .step p{
    font-weight: 500;
    font-size: 18px;
    color: rgb(85, 84, 84);
    margin-bottom: 8px;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 50%;
    left: 100%;
    height: 2px;
    width: 345px;
    background: #262626;
}

.progress-bar .step .bullet{
    height: 50px;
    width: 50px;
    border: 3px solid rgb(85, 84, 84);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    
    }
}