<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">  
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center class="principal-title">Canvas de storytelling</ion-title>
    <ion-icon slot="end" class="icon-header" (click)="chooseCanvasName()" name="save-outline"></ion-icon>
    <ion-icon slot="end" class="icon-header" (click)="downloadCanvas()" name="download-outline"></ion-icon>
    <ion-icon slot="end" class="icon-header" *ngIf="platform.is('desktop')" (click)="printCanvas()" name="print-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id= "container" class="container">
    <div class="progress-bar">
      <div class="step" (click)="step=1;">
        <div class="bullet" [ngClass]="{'step-colored': step == 1}">
          <span></span>
        </div>
        <div class="check fas fa-check">
        </div>
        <p>Inicio</p>
      </div>
      <div class="step" (click)="step=2">
        <div class="bullet" [ngClass]="{'step-colored': step == 2}">
          <span></span>
        </div>
        <div class="check fas fa-check">
        </div>
        <p>Nudo</p>
      </div>
      <div class="step" (click)="step=3;">
        <div class="bullet" [ngClass]="{'step-colored': step == 3}">
          <span></span>
        </div>
        <div class="check fas fa-check">
        </div>
        <p>Final</p>
      </div>
      <div class="step" (click)="step=4;">
        <div class="bullet" [ngClass]="{'step-colored': step == 4}">
          <span></span>
        </div>
        <div class="check fas fa-check">
        </div>
        <p>Historia completa</p>
      </div>
    </div>
  </div>

  <div id="step1" *ngIf="step==1">
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Escenario
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="stage" maxlength="{{this.maximumCharactersAllowed500}}" (ionChange)="writeStage($event)" placeholder="Describe el ambiente y el momento en que se desenvuelve el personaje y se desarrolla la historia."></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.stageCharacters}} / {{this.maximumCharactersAllowed500}}</ion-label>
    </div>
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Personaje
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="character" maxlength="{{this.maximumCharactersAllowed500}}" (ionChange)="writeCharacter($event)" placeholder="Describe el personaje con detalle (aspectos sociales, físicos o psicológicos). También algunos antecedentes relevantes."></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.characterCharacters}} / {{this.maximumCharactersAllowed500}}</ion-label>
    </div>
    <ion-button class="next-button" (click)="step=2">Siguiente</ion-button>
  </div>
  <div id="step2" *ngIf="step==2">
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Conflicto
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="conflict" maxlength="{{this.maximumCharactersAllowed1000}}" (ionChange)="writeConflict($event)" placeholder="Describe los desafíos o problemas que enfrentarán los personajes."></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.conflictCharacters}} / {{this.maximumCharactersAllowed1000}}</ion-label>
    </div>
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Punto crítico
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="critical" maxlength="{{this.maximumCharactersAllowed1000}}" (ionChange)="writeCritical($event)" placeholder="Detalla con precisión cómo se generó el problema, como se presentó y cómo se sintió el personaje."></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.criticalCharacters}} / {{this.maximumCharactersAllowed1000}}</ion-label>
    </div>
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Soporte
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="support" maxlength="{{this.maximumCharactersAllowed1000}}" (ionChange)="writeSupport($event)" placeholder="Detalla qué recursos o habilidades necesita el personaje para superar el conflicto."></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.supportCharacters}} / {{this.maximumCharactersAllowed1000}}</ion-label>
    </div>
    <ion-button class="back-button" (click)="step=1">Atrás</ion-button>
    <ion-button class="next-button" (click)="step=3">Siguiente</ion-button>
  </div>
  <div id="step3" *ngIf="step==3">
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Superación
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="overcoming" maxlength="{{this.maximumCharactersAllowed1000}}" (ionChange)="writeOvercoming($event)" placeholder="Describe la manera en que el personaje usó sus fortalezas o características para superar el problema."></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.overcomingCharacters}} / {{this.maximumCharactersAllowed1000}}</ion-label>
    </div>
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Desenlace
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="outcome" maxlength="{{this.maximumCharactersAllowed1000}}" (ionChange)="writeOutcome($event)" placeholder="Describe qué aprendió el héroe de esta experiencia y cuál es la moraleja de la historia."></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.outcomeCharacters}} / {{this.maximumCharactersAllowed1000}}</ion-label>
    </div>
    <ion-button class="back-button" (click)="step=2">Atrás</ion-button>
    <ion-button class="next-button" (click)="step=4">Siguiente</ion-button>
  </div>
  <div id="step4" *ngIf="step==4">
    <div class="item">
      <div class="item-header">
        <div class="ion-text-left">    
          Historia completa
        </div>
      </div>
      <ion-item class="item-item">
        <ion-textarea [value]="complete" maxlength="{{this.maximumCharactersAllowed3000}}" (ionChange)="writeComplete($event)" placeholder="Integra las siete partes previamente descritas en una historia coherente."></ion-textarea>
      </ion-item>
      <ion-label class="count-letters">{{this.completeCharacters}} / {{this.maximumCharactersAllowed3000}}</ion-label>
    </div>
    <ion-button class="back-button" (click)="step=3">Atrás</ion-button>
    <ion-button class="next-button" (click)="finishCanvas()">Finalizar</ion-button>
  </div>
</ion-content>