<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">  
      </ion-back-button>
    </ion-buttons>
    <ion-title class="principal-title">Agregar formato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="platform.is('ios')" >
  <div class="container" >
    <ion-label class="format-type">
      Escoge el tipo de formato que deseas crear
    </ion-label>
  </div>
  <ion-button class="format-button" size="large" (click)="showFormatPicker()">Generar formato</ion-button>

</ion-content>

<ion-content  *ngIf="platform.is('android') || platform.is('desktop') || platform.is('tablet')" >
  <ion-item>
    <ion-label>Tipo de Formato</ion-label>
    <ion-select interface="popover" [(ngModel)]="selectedVal" >
      <ion-select-option *ngFor="let item of getFormatOptions()" [value]="item.value">{{item.text}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button  class="format-button" size="large" (click)="showCanvasPage()" >Generar formato</ion-button>

</ion-content>