<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">  
      </ion-back-button>
    </ion-buttons>
    <ion-title class="principal-title">Agregar formato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="platform.is('ios')" >
  <div class="container" >
    <ion-label class="format-type">
      Escoge el tipo de formato que deseas crear
    </ion-label>
  </div>
  <ion-button class="format-button" size="large" (click)="showFormatPicker()">Generar formato</ion-button>

</ion-content>

<ion-content  *ngIf="platform.is('android') || platform.is('desktop') || platform.is('tablet')" >
  <ion-list>
    <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup>
      <ion-list-header>
        <ion-label style="text-align: center" class="text-option">Tipo de Formato</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let item of getFormatOptions()">
        <ion-label class="text-option">{{item.text}}</ion-label>
        <ion-radio id="btn-formato-{{item.value}}" slot="end" name="{{item.name}}" value="{{item.value}}"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-button id="btn-add-formato" class="format-button" size="large" (click)="showCanvasPage()" disabled="{{this.selectedVal == 0 || this.selectedVal == null}}">Generar formato</ion-button>
</ion-content>