<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">  
      </ion-back-button>
    </ion-buttons>
    <ion-title class="principal-title">Agregar formato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-label class="format-type">
      Escoge el tipo de formato que deseas crear
    </ion-label>
    <ion-button class="format-button" size="large" (click)="showFormatPicker()">Crear formato</ion-button>
  </div>
</ion-content>
