<ion-header>
  <ion-toolbar>
      <ion-buttons  slot="start">
        <ion-back-button defaultHref="/">  
        </ion-back-button>
      </ion-buttons>
    <ion-title class="principal-tittle">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="secondary-tittle">Escoge una tarjeta:</ion-label>
  </ion-item>

  <ion-grid *ngIf="showDivCards">
    <ion-row *ngFor="let indexRow of rows">
      <ion-col *ngFor="let indexColumn of columns">
        <div *ngIf="(this.cards[(indexRow)*3 + (indexColumn)])">
          <ion-img class="img-arq" (click)="showDetail(this.cards[(indexRow)*3 + (indexColumn)])" src="{{this.cards[(indexRow)*3 + (indexColumn)].imgCard}}"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
