<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center class="principal-title">Evaluar respuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showChallenges">
  <ion-grid class="m-t-40">
    <ion-row>
      <ion-col class="centered-col">
        <ion-icon *ngIf="challengeNumber > 0" (click)="challengeNumber = challengeNumber - 1" name="arrow-back-circle-outline"></ion-icon>
      </ion-col>
      <ion-col class="centered-col">
        <ion-label>
          Reto {{challengeNumber + 1}}
        </ion-label>
      </ion-col>
      <ion-col class="centered-col">
        <ion-icon *ngIf="challenges.length > challengeNumber + 1" (click)="challengeNumber = challengeNumber + 1" name="arrow-forward-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="m-t-20">
      <ion-col class="centered-col">
        <p class="small-title boxed m-l-r-40">{{challenges[challengeNumber].challengeBody}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="m-t-40 m-l-r-40">
    <ion-label *ngIf="answerListForChallenge(challenges[challengeNumber].challengeId).length == 0">
      Los participantes se encuentran enviando sus respuestas ...
    </ion-label>
    <ion-card *ngFor="let answer of answerListForChallenge(challenges[challengeNumber].challengeId)" class="center-card">
      <ion-card-header>
        <ion-card-title class="center-text">{{answer.answerText}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!--<ion-label class="notify center-text">{{answer.fullName}}</ion-label>-->
        <ion-label class="notify center-text">Competencia utilizada: {{answer.competency.text}}</ion-label>
        <ion-label class="notify center-text">Puntaje obtenido en dados: {{answer.scoreObtained}}</ion-label>
        <ion-label class="notify center-text">Dificultad del reto: {{answer.challengeDifficulty}}</ion-label>
        <br>
        <ion-grid>
          <ion-row>
            <ion-label class="centered-col">Puntos extras</ion-label>
          </ion-row>
          <ion-row>
            <ion-col class="centered-col">
              <ion-icon class="clickable" (click)="diminishExtraPoints(answer.answerId)" name="remove-circle-outline"></ion-icon>
            </ion-col>
            <ion-col class="centered-col">
              {{answer.extraPoints}}
            </ion-col>
            <ion-col class="centered-col">
              <ion-icon class="clickable" (click)="increaseExtraPoints(answer.answerId)" name="add-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row class="m-t-20">
            <ion-button class="centered-col start-game-button" (click)="doEvaluateAnswer(answer.answerId, answer.extraPoints)">
              Calificar respuesta
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button class="m-t-20 start-game-button" (click)="endGame()">
    Finalizar dinámica
    <ion-icon name="log-out-outline" ></ion-icon>
  </ion-button>
</ion-content>
