
<ion-content class="register">
  <div class="container-register100">
    <div class="container">
      <ion-item>
        <ion-label class="ion-text-center">Recuperar contraseña</ion-label>
      </ion-item>
    </div>

    <div *ngIf="step==1">

				<form class="login100-form validate-form" [formGroup]="forgotPasswordForm">
					<span class="login100-form-title">
						Ingrese su correo electrónico
					</span>
          <div class="wrap-input100 validate-input">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="mail-field">
                    <ion-item>
                      <ion-input id="email" name="email" class="input-login" [disabled]="showCodeField" [(ngModel)]="username" formControlName="email" color="black" placeholder="Correo electrónico" required="true" ></ion-input>
                      <ion-icon name="mail-outline" color="medium" slot="start"></ion-icon>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.email">
                      <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                        <small class="error-message">{{error.message}}</small>
                      </ng-container>
                    </div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="container-login100-form-btn" *ngIf="!showPasswordsField">
                    <ion-button [disabled]="!email.valid || disableSendCodeButton" expand="block" class="login100-form-btn" (click)="sendCode()">
                      {{getCode}}
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showCodeField">
                <ion-col>
                  <div class="mail-field">
                    <ion-item>
                      <ion-input id="mailOTP" name="mailOTP" [disabled]="showPasswordsField" maxlength="6" class="input-login" [(ngModel)]="mailOTP" formControlName="emailOTP" placeholder="Código" required="true" ></ion-input>
                      <ion-icon name="lock-closed-outline" color="medium" slot="start"></ion-icon>
                    </ion-item>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="container-login100-form-btn" *ngIf="!showPasswordsField">
                    <ion-button [disabled]="!emailOTP.valid" expand="block" class="login100-form-btn" (click)="validateOTP()">
                      Validar código
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showPasswordsField">
                <ion-col>
                  <div class="mail-field">
                    <ion-item class="item">
                      <ion-input [(ngModel)]="userPassword" id="userPassword" name="userPassword" [type]="getPasswordType()" class="input-login" color="black" placeholder="Nueva contraseña" required="true" formControlName="password" maxlength="20"></ion-input>
                      <ion-icon name="key-outline" color="medium" slot="start"></ion-icon>
                      <ion-icon *ngIf="!showPassword" name="eye-outline" color="medium" (click)="toggleTextPassword()"></ion-icon>
                      <ion-icon *ngIf="showPassword" name="eye-off-outline" color="medium" (click)="toggleTextPassword()"></ion-icon>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.password">
                      <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                        <small class="error-message">{{error.message}}</small>
                      </ng-container>
                    </div>
                    <ion-item>
                      <ion-input [type]="getConfirmPasswordType()" class="input-login" color="black" placeholder="Confirmar nueva contraseña" required="true" formControlName="confirmPassword" maxlength="20"></ion-input>
                      <ion-icon name="key-outline" color="medium" slot="start"></ion-icon>
                      <ion-icon *ngIf="!showConfirmPassword" name="eye-outline" color="medium" (click)="toggleTextConfirmPassword()"></ion-icon>
                      <ion-icon *ngIf="showConfirmPassword" name="eye-off-outline" color="medium" (click)="toggleTextConfirmPassword()"></ion-icon>
                    </ion-item>
        
                    <div *ngFor="let error of errorMessages.confirmPassword">
                      <ng-container *ngIf="(confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)) || (forgotPasswordForm.controls.confirmPassword.touched && forgotPasswordForm.hasError('mismatchedPasswords') && forgotPasswordForm.controls.password.valid)">
                        <small class="error-message">{{error.message}}</small>
                      </ng-container>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="showPasswordsField">
                <div class="container-login100-form-btn">
                  <ion-button [disabled]="!forgotPasswordForm.valid" expand="block" class="login100-form-btn" (click)="resetPassword()">
                    Cambiar contraseña
                  </ion-button>
                </div>
              </ion-row>
            </ion-grid>

            
          </div>


				</form>
		
    </div>
  </div>
</ion-content>
