
<ion-content class="register">
  <div class="container-register100">
    <div class="container">
      <ion-item>
        <ion-label class="ion-text-center">Registro</ion-label>
      </ion-item>
    </div>

    <div *ngIf="step==1">
			<div class="wrap-login100">
				<div class="login100-pic">
					<img src="../../assets/cards/initial/inicial_02_im.svg" alt="IMG">
				</div>


				<form class="login100-form validate-form" [formGroup]="validationForm">
					<span class="login100-form-title">
						Ingrese código del libro
					</span>
        		<div class="wrap-input100 validate-input">
						<ion-item>
							<ion-input id="book" name="book" [(ngModel)]="book" class="input-login" color="black" placeholder="Código" required="true" formControlName="bookCode" ></ion-input>
							<ion-icon name="reader-outline" color="medium" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.bookCode">
							<ng-container *ngIf="bookCode.hasError(error.type) && (bookCode.dirty || bookCode.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
				</div>
					<div class="container-login100-form-btn">
						<ion-button [disabled]="!validationForm.valid" expand="block" class="login100-form-btn" (click)="verify()">
							Validar
						</ion-button>
					</div>


				</form>
			</div>
    </div>

    <div *ngIf="step==2">
			<div class="wrap-login100" style="padding-top: 10px;">
				<div class="login100-pic">
					<img src="../../assets/cards/initial/inicial_02_im.svg" alt="IMG">
				</div>

				<form class="login100-form validate-form" [formGroup]="registrationForm">
					<div class="wrap-input100 validate-input">
						<ion-item>
							<ion-input [(ngModel)]="name" id="name" name="name" class="input-login" color="black" placeholder="Nombre" required="true" formControlName="username" maxlength="25"></ion-input>
							<ion-icon name="person-circle-outline" color="medium" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.username">
							<ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
						<ion-item>
							<ion-input [(ngModel)]="lastname" id="lastname" name="lastname" class="input-login" color="black" placeholder="Apellidos" required="true" formControlName="ulastname" maxlength="25"></ion-input>
							<ion-icon name="person-circle-outline" color="medium" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.ulastname">
							<ng-container *ngIf="ulastname.hasError(error.type) && (ulastname.dirty || ulastname.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
						<!--<ion-item>
							<ion-label style="display: none;">País</ion-label>
							<ion-select id="country" name="country" class="input-login" color="primary" placeholder="País" required="true" formControlName="location" (ionChange)="selectCountry($event)">
								<ion-select-option *ngFor="let country of countries" [value]="country">{{country.nombre}}</ion-select-option>
							</ion-select>
							<ion-icon name="location-outline" color="primary" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.location">
							<ng-container *ngIf="location.hasError(error.type) && (location.dirty || location.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>-->
						
						<ion-item>
							<ion-label style="display: none; color: white;">Seleccionar país</ion-label>
							<ionic-selectable
							  item-content
							  font-family="ZizouSlabLight"
							  formControlName="location"
							  required="true"
							  headerColor="primary"
							  itemIconSlot="none"
							  placeholder="País"
							  [ngStyle]="{ color: 'red' }"
							  searchPlaceholder="Ingrese nombre del país"
							  closeButtonText="X"
							  closeButtonSlot="end"
							  [searchFailText]="'No se han encontrado países.'"
							  color="white"
							  [(ngModel)]="countrySelected"
							  itemTextField="nombre"
							  itemValueField="phone_code"
							  [items]="countries"
							  [canSearch]="true"
							  (onChange)="selectCountry($event)" >
							</ionic-selectable>
							<ion-icon name="location-outline" color="medium" slot="start"></ion-icon>
						  </ion-item>

						  <div *ngFor="let error of errorMessages.location">
							<ng-container *ngIf="location.hasError(error.type) && (location.dirty || location.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>

            			<ion-item>
							<ion-input id="countryCode" name="countryCode" color="black" 
							placeholder="" required="true" maxlength="10" [value]=countryCode disabled></ion-input>
							<ion-input [(ngModel)]="phoneNumber" id="phoneNumber" name="phoneNumber" class="input-login" color="black" 
							placeholder="Teléfono" required="true" formControlName="phone" maxlength="10"></ion-input>
							<ion-icon name="call-outline" color="medium" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.phone">
							<ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
							 	<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
           				<ion-item>
							<ion-input [(ngModel)]="emailAddress" id="emailAddress" name="emailAddress" class="input-login" color="black" placeholder="Correo electrónico" required="true" formControlName="email" maxlength="30"></ion-input>
							<ion-icon name="mail-outline" color="medium" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.email">
							<ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
					</div>

					<div class="wrap-input100 validate-input">
						<ion-item class="item">
							<ion-input [(ngModel)]="userPassword" id="userPassword" name="userPassword" [type]="getPasswordType()" class="input-login" color="black" placeholder="Contraseña" required="true" formControlName="password" maxlength="20"></ion-input>
							<ion-icon name="lock-closed-outline" color="medium" slot="start"></ion-icon>
							<ion-icon *ngIf="!showPassword" name="eye-outline" color="medium" (click)="toggleTextPassword()"></ion-icon>
							<ion-icon *ngIf="showPassword" name="eye-off-outline" color="medium" (click)="toggleTextPassword()"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.password">
							<ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
						<ion-item>
							<ion-input [type]="getConfirmPasswordType()" class="input-login" color="black" placeholder="Confirmar contraseña" required="true" formControlName="confirmPassword" maxlength="20"></ion-input>
							<ion-icon name="lock-closed-outline" color="medium" slot="start"></ion-icon>
							<ion-icon *ngIf="!showConfirmPassword" name="eye-outline" color="medium" (click)="toggleTextConfirmPassword()"></ion-icon>
							<ion-icon *ngIf="showConfirmPassword" name="eye-off-outline" color="medium" (click)="toggleTextConfirmPassword()"></ion-icon>
						</ion-item>

						<div *ngFor="let error of errorMessages.confirmPassword">
							<ng-container *ngIf="(confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)) || (registrationForm.controls.confirmPassword.touched && registrationForm.hasError('mismatchedPasswords') && registrationForm.controls.password.valid)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
					</div>

					<div class="terms-conditions">
						<ion-checkbox class="privacy-policy" color="primary" [(ngModel)]="privacyPolicy" id="privacyPolicy" name="privacyPolicy" formControlName="acceptPrivacyPolicy">
						</ion-checkbox>
						<span class="read-privacy-policy">
							He leído y acepto la <a class="clickable" href="assets/privacy_policy/Política de Privacidad - Storytelling UPC.pdf" target="_blank">Política de Privacidad</a>
						</span>
					</div>

					<div class="terms-conditions">
						<ion-checkbox class="personal-data" color="primary" [(ngModel)]="personalData" id="personalData" name="personalData" formControlName="acceptPersonalData">
						</ion-checkbox>
						<span class="read-personal-data">
							Autorizo el tratamiento de mis datos personales <br> para las
							finalidades adicionales indicadas en política aludida
						 </span>
					</div>
					
					<div class="container-login100-form-btn">
						<ion-button (click)="register()" [disabled]="!registrationForm.valid || !privacyPolicy" expand="block" class="login100-form-btn">
							Registrarse
						</ion-button>
					</div>


				</form>
			</div>
    </div>
  </div>
</ion-content>
