
<ion-content class="register">
  <div class="container-register100">
    <div class="container">
      <ion-item>
        <ion-label class="ion-text-center">Registro</ion-label>
      </ion-item>
      <!-- <div class="progress-bar">
        <div class="step">
            <div class="bullet-line" [ngClass]="{'step-colored': step == 1}"  (click)="step=1">
              <span></span>
            </div>
            <div class="check fas fa-check">
            </div>
        </div>
        <div class="step">
          <div class="bullet" [ngClass]="{'step-colored': step == 2}" (click)="step=2">
            <span></span>
          </div>
          <div class="check fas fa-check">
          </div>
        </div>
      </div>  -->
    </div>

    <div *ngIf="step==1">
			<div class="wrap-login100">
				<div class="login100-pic">
					<img src="../../assets/cards/initial/inicial_02_im.png" alt="IMG">
				</div>


				<form class="login100-form validate-form" [formGroup]="validationForm">
					<span class="login100-form-title">
						Ingrese código del libro
					</span>
        		<div class="wrap-input100 validate-input">
						<ion-item>
							<ion-input class="input-login" color="primary" placeholder="Código" required="true" formControlName="bookCode" ></ion-input>
							<ion-icon name="reader-outline" color="primary" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.bookCode">
							<ng-container *ngIf="bookCode.hasError(error.type) && (bookCode.dirty || bookCode.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
				</div>
					<div class="container-login100-form-btn">
						<ion-button [disabled]="!validationForm.valid" expand="block" class="login100-form-btn" (click)="addStep()">
							Validar
						</ion-button>
					</div>


				</form>
			</div>
    </div>

    <div *ngIf="step==2">
			<div class="wrap-login100">
				<div class="login100-pic">
					<img src="../../assets/cards/initial/inicial_02_im.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" [formGroup]="registrationForm">

          
					<div class="wrap-input100 validate-input">
						<ion-item>
							<ion-input class="input-login" color="primary" placeholder="Nombre" required="true"  formControlName="username"></ion-input>
							<ion-icon name="person-circle-outline" color="primary" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.username">
							<ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
            			<ion-item>
							<ion-input class="input-login" color="primary" placeholder="Teléfono" required="true" formControlName="phone"></ion-input>
							<ion-icon name="call-outline" color="primary" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.phone">
							<ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
							 	<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
           				<ion-item>
							<ion-input class="input-login" color="primary" placeholder="Correo electrónico" required="true" formControlName="email"></ion-input>
							<ion-icon name="mail-outline" color="primary" slot="start"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.email">
							<ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
					</div>

					<div class="wrap-input100 validate-input">
						<ion-item class="item">
							<ion-input [type]="getPasswordType()" class="input-login" color="primary" placeholder="Contraseña" required="true" formControlName="password"></ion-input>
							<ion-icon name="lock-closed-outline" color="primary" slot="start"></ion-icon>
							<ion-icon *ngIf="!showPassword" name="eye-outline" color="primary" (click)="toggleTextPassword()"></ion-icon>
							<ion-icon *ngIf="showPassword" name="eye-off-outline" color="primary" (click)="toggleTextPassword()"></ion-icon>
						</ion-item>
						<div *ngFor="let error of errorMessages.password">
							<ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
						<ion-item>
							<ion-input [type]="getConfirmPasswordType()" class="input-login" color="primary" placeholder="Confirmar Contraseña" required="true" formControlName="confirmPassword"></ion-input>
							<ion-icon name="lock-closed-outline" color="primary" slot="start"></ion-icon>
							<ion-icon *ngIf="!showConfirmPassword" name="eye-outline" color="primary" (click)="toggleTextConfirmPassword()"></ion-icon>
							<ion-icon *ngIf="showConfirmPassword" name="eye-off-outline" color="primary" (click)="toggleTextConfirmPassword()"></ion-icon>
						</ion-item>

						<div *ngFor="let error of errorMessages.confirmPassword">
							<ng-container *ngIf="(confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)) || (registrationForm.controls.confirmPassword.touched && registrationForm.hasError('mismatchedPasswords') && registrationForm.controls.password.valid)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
					</div>
					
					<div class="container-login100-form-btn">
						<ion-button [disabled]="!registrationForm.valid" expand="block" class="login100-form-btn">
							Registrarse
						</ion-button>
					</div>


				</form>
			</div>
    </div>
  </div>
</ion-content>
